{% extends "spy_agency/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <main class="form-signin">
                <form method="POST">
                    {% csrf_token %}
                    {{ form |crispy }}
        
                    <button class="btn btn-sm btn-dark" type="submit">Sign in</button>
                </form>

                <!--form method="POST">
                    
                    <img class="mb-2 img-fluid" src="{% static 'accounts/images/logo.svg' %}" alt="LOGO">                    
                                        
                    <div class="form-floating">
                      <input type="text" class="form-control" placeholder="myusername" name="username" required>
                      <label for="username">Username</label>
                    </div>

                    <div class="form-floating">
                      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
                      <label for="floatingPassword">Password</label>
                    </div>
            
                    <button class="w-100 btn btn-lg btn-dark" type="submit">Sign in</button>
                    
                </form-->

            </main>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}